<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  	<title>JumpstartLab – We Build Developers</title>
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="stylesheet" href="/css/styles.css">
  	<link href="webfonts/ss-social.css" rel="stylesheet" />
  	<link href="webfonts/ss-standard.css" rel="stylesheet" />
  	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/tpn0qjo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div class="wrapper">
      <div id="header">
        <div id="logo">
          <a href="/"><img alt="Jumpstart Lab" src="/images/logo-bw.png"></a>
		    </div>
        <ul id="nav">
          <li><a href="news">News</a></li>
          <li class="active"><a href="courses">Courses</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="main">

      <div class="wrapper">
        <h1>Courses</h1>

        <div class="section">
          <p>Get up to speed quickly. We focus on hands on programming, so you’ll build real applications immediately.</p>
          <p>Our courses are customized to fit the needs of your team, but below are some of the components we offer. <a href="mailto:contact@jumpstartlab.com">Send us an email</a> and we’ll get to work customizing the right content for you.</p>

          <h2 id="ruby">Ruby</h2>

          <ul class="bulleted-list">
            <li>Introductory Ruby (3 Days)</li>
            <li>Intermediate Topics
              <ul>
                <li>Test-Driven Development with RSpec (2 Days)</li>
                <li>RSpec Best Practices (1 Day)</li>
                <li>Ruby Object Systems &amp; Fundamentals (2 Days)</li>
                <li>Interacting with 3rd Party Services (1 Day)</li>
              </ul>
            </li>
            <li>Advanced Topics
              <ul>
                <li>Performance Analysis and Benchmarking (1 Day)</li>
                <li>Creating Native Extensions with C (2 Days)</li>
                <li>Creating Gems (1 Day)</li>
              </ul>
            </li>
          </ul>

          <h2 id="rails">Rails</h2>

          <ul class="bulleted-list">
            <li>Introductory Rails (3 Days)</li>
            <li>Intermediate Rails (3 Days)</li>
            <li>Intermediate Topics
              <ul>
                <li>Test Driven Development with RSpec and Rails (2 Days)</li>
                <li>Modeling RESTful Resources (2 Days)</li>
                <li>Adding Processor Objects and Asynchronous Workers (1 Day)</li>
                <li>Decorator/Presenter and Facade Patterns (2 Days)</li>
                <li>Fast Rails Testing (2 Days)</li>
                <li>Integration Testing (2 Days)</li>
              </ul>
            </li>
            <li>Advanced Topics
              <ul>
                <li>Rails Performance Analysis (1 Day)</li>
                <li>Working with NoSQL and Alternative ORMs (2 Days)</li>
              </ul>
            </li>
          </ul>

          <h2 id="javascript--frameworks">JavaScript &amp; Frameworks</h2>

          <ul class="bulleted-list">
            <li>Introduction to JavaScript (2 Days)</li>
            <li>Introduction to JQuery (2 Days)</li>
            <li>ExtJS Fundamentals (3 Days)</li>
            <li>Backbone.js Fundamentals (3 Days)</li>
            <li>JavaScript Testing (2 Days)</li>
          </ul>
        </div>

        <%= erb :aside %>
      </div>

      <%= erb :footer %>
  </body>
</html>