<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  	<title>JumpstartLab – We Build Developers</title>
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="stylesheet" href="/css/styles.css">
  	<link href="webfonts/ss-social.css" rel="stylesheet" />
  	<link href="webfonts/ss-standard.css" rel="stylesheet" />
  	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/tpn0qjo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div class="wrapper">
      <div id="header">
        <div id="logo">
          <a href="/"><img alt="Jumpstart Lab" src="/images/logo-bw.png"></a>
		    </div>
        <ul id="nav">
          <li><a href="news">News</a></li>
          <li><a href="courses">Courses</a></li>
          <li><a href="#">Tutorials</a></li>
          <li class="active"><a href="team">Team</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="main">

      <div class="wrapper">
        <img src="/images/heroku-banner.png" width="840" height="170" alt="Professional Heroku by Jumpstart Lab" />

        <div class="preamble">
          <p>Heroku is a fantastic tool for provisioning and deploying applications quickly. But there’s more to it than <code>heroku create myapp</code>. Do you know how to design, monitor, and scale those applications?</p>
          <p>In this course we’ll build your understandings of the platform architecture, explore tools and concepts to improve your application, and how to bring it all together.</p>
        </div>

        <div class="section">
          <h2>What You’ll Learn</h2>
          <p>In this training course, you'll use an actual Ruby/Rails application and study:</p>

          <ul class="bulleted-list">
            <li>How Heroku’s architecture affects your application</li>
            <li>The roles of dynos and background workers</li>
            <li>Keeping private credentials private</li>
            <li>Configuring your application for alternative web servers or Ruby versions</li>
            <li>Moving beyond the default Heroku stack with custom buildpacks</li>
            <li>Dangers and mitigation of long-running requests</li>
            <li>Extracting and optimizing background processes</li>
            <li>Automating Continuous Integration (CI) and zero-downtime Continuous Deployment (CD)</li>
            <li>Gracefully handling deployment failure and rollback</li>
            <li>Automatic alerting when application performance degrades</li>
            <li>Automatic database backups remote systems</li>
            <li>Optimizing logging with distributed systems</li>
            <li>How to apply these techniques with your actual applications</li>
          </ul>
          <p class="btn big center"><a href="#">Contact Us to Schedule a Class at Your Company</a></p>

          <h2>What’s In a Class?</h2>
          <p>This is not “sit back and watch slides” — all Jumpstart Lab courses are hands-on. We work with real applications and you’ll implement these tools and techniques yourself. By the end of the week, you’ll have real experience, real skills, and real code to reference.</p>
          <br />

          <img class="float-right" src="/images/laptop-heroku.png" />
          <h2>Who’s this for?</h2>
          <p>This course is built for teams of experienced developers who feel comfortable with Ruby, Rails, and the fundamentals of deploying web applications.</p>
        </div>

        <div class="aside">
          <img class="center" src="/images/illustration-stamp.png" alt="illustration-stamp" width="147" height="117">
          <p>As with all our courses, Professional Heroku is backed by our 110% money-back guarantee.</p>
          <h2>Who we are</h2>
          <p>The course is constructed and taught by our instructional team in collaboration with the developers and experts at Heroku. <a href="/team">Learn more about Jeff Casimir, Frank Webber, Katrina Owen, and Steve Klabnik</a>.
          <h2>More than Heroku</h2>
          <p>Jumpstart Lab offers training in fundamental, intermediate, and advanced levels of Ruby, Rails, JavaScript, jQuery, Backbone.js, ExtJS, HTML5/CSS3, and Git.</p>
        </div>

        <br class="clearall" />

          <h2>Schedule</h2>
          <p>Our instructors come to you and teach five full days 9AM to 4PM. We can accomodate anywhere from 4 to 24 attendees.</p>

          <table class="schedule">
            <tr>
              <th>Monday</th>
              <th>Thuesday</th>
              <th>Wednesday</th>
            </tr>
            <tr>
              <td>
                <h3>Understanding the Platform</h3>
                <ul class="bulleted-list">
                  <li>Setup for experimentation</li>
                  <li>Understanding Heroku’s architecture</li>
                  <li>How deployment works</li>
                  <li>Automatically scaling dynos</li>
                  <li>Understanding where applications go wrong</li>
                </ul>
              </td>
              <td>
                <h3>Customizing Your Deployment</h3>
                <ul class="bulleted-list">
                  <li>Managing application configuration and credentials</li>
                  <li>Configuration-level customizations</li>
                  <li>Creating custom buildpacks</li>
                  <li>Executing arbitrary jobs on deploy</li>
                  <li>Continuous Integration &amp; Continuous Deployment</li>
                </ul>
              </td>
              <td>
                <h3>Designing Your Application for Scale</h3>
                <ul class="bulleted-list">
                  <li>Architecting a system of applications</li>
                  <li>Aggregating logs across multiple coordinating apps</li>
                  <li>Extracting background jobs</li>
                  <li>Extracting micro-applications</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Thursday</th>
              <th>Friday</th>
              <th></th>
            </tr>
            <tr>
              <td>
                <h3>When Things Go Wrong</h3>
                <ul class="bulleted-list">
                  <li>Automating backups to S3</li>
                  <li>Monitoring application health</li>
                  <li>Automating disaster response</li>
                  <li>Rolling back deployment</li>
                </ul>
              </td>
              <td>
                <h3>Your Applications</h3>
                <ul class="bulleted-list">
                  <li>Big picture Q&amp;A</li>
                  <li>Dive into your applications together</li>
                  <li>What if we want to&hellip;?</li>
                </ul>
              </td>
              <td></td>
            </tr>
          </table>

          <h2>Pricing</h2>
          <p>Pricing for this course is <strong>$20K</strong> to cover the first six attendees, <strong>$1300</strong> for each additional attendee over six, and <strong>$1500</strong> per instructor for travel. Classes of 12 or fewer are run by one instructor, 12-24 have two instructors.</p>
          <p class="btn big center"><a href="#">Contact Us to Schedule a Class at Your Company</a></p>


      </div>

      <%= erb :footer %>
    </div>
  </body>
</html>