<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  	<title>JumpstartLab – We Build Developers</title>
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="stylesheet" href="/css/styles.css">
  	<link href="webfonts/ss-social.css" rel="stylesheet" />
  	<link href="webfonts/ss-standard.css" rel="stylesheet" />
  	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/tpn0qjo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div class="wrapper">
      <div id="header">
        <div id="logo">
          <a href="/"><img alt="Jumpstart Lab" src="/images/logo-bw.png"></a>
		    </div>
        <ul id="nav">
          <li><a href="news">News</a></li>
          <li><a href="courses">Courses</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>

      <div class="top">
        <a class="video" href="/">
          <i class="ss-play"></i>
          <p><span>Play video</span></p>
        </a>

        <div class="intro">
          <h1>We Build Developers</h1>
          <p>JumpstartLab offers the best web development training anywhere. We’re known for our expertise in Ruby on Rails, but also instruct courses in jQuery, JavaScript, ExtJS, and Git.</p>
          <p>For companies and teams, we offer <a href="/">custom training</a> anywhere from two days to six months.</p>
          <p class="btn"><a href="#" class="ss-navigateright right">Learn more</a></p>
        </div>

        <img class="guarantee" src="/images/illustration-stamp.png" />
      </div>
    </div>

    <div id="main">

      <div class="wrapper">
        <div class="testimonials">
          <div class="quote">
            <img src="/images/photo-chad-fowler.jpg" alt="Chad Fowler">
            <blockquote>
              <p>”Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.”</p>
              <span>— Chad Fowler, <a href="http://www.livingsocial.com/">LivingSocial</a></span>
            </blockquote>
          </div>

          <div class="quote last">
            <img src="/images/photo-tom-preston-werner.jpg" alt="Tom Preston Werner">
            <blockquote>
              <p>”A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences.”</p>
              <span>— Tom Preston-Werner, <a href="http://www.github.com/">GitHub</a></span>
            </blockquote>
          </div>
        </div>

        <div class="news">
          <h2>News</h2>
          <h3><a href="/">Madison Ruby 2012 Panel: Teaching Rails</a></h3>
          <img src="/images/teaching-rails.png" alt="Teaching Rails" width="224" height="150">
          <p>Madison Ruby 2012 Panel Discussion including Chad Pytel, Jeff Casimir, Jeff Cohen, and Stephen Anderson. <a href="/">Read more&nbsp;»</a></p>
          <p class="time-stamp ss-video">August 25, 2012</p>
          <ul>
            <li><h3><a href="/" class="ss-video">Anti-Oppression 101</a> <span class="time-stamp">Aug 24</span></h3></li>
            <li><h3><a href="/" class="ss-file">Hungry Academy: Full of Lessons</a> <span class="time-stamp">June 23</span></h3></li>
            <li><h3><a href="/" class="ss-file">Designing Hypermedia APIs</a> <span class="time-stamp">April 23</span></h3></li>
            <li><h3><a href="/" class="ss-video">"Ruby can't scale." O RLY?</a> <span class="time-stamp">Feb 05</span></h3></li>
          </ul>
          <p><a href="#">View all posts&nbsp;»</a></p>
        </div>

        <div class="events">
          <h2>Upcoming Events</h2>
          <ul class="pill-selector">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Our Classes</a></li>
            <li><a href="#">Conferences</a></li>
          </ul>
          <ul class="events-list">
            <li class="vevent">
              <div class="img">
                <img src="/images/event-rubyconf.png" alt="Rubyconf 2012" width="94" height="50">
              </div>
              <div>
                <h3><a href="/">Denver Rubyconf 2012</a></h3>
                <p class="location"><a href="/">Grand Hyatt Denver</a></p>
                <p class="details">November 1-3 - Denver, CO</p>
              </div>
            </li>
            <li class="vevent">
              <div class="img">
                <img src="/images/event-rubyconf-arg.png" alt="Rubyconf Argentina" width="101" height="40">
              </div>
              <div>
                <h3><a href="/">RubyConf Argentina 2012</a></h3>
                <p class="location"><a href="/">Paseo La Plaza</a></p>
                <p class="details">October 19-20 - Buenos Aires, Argentina</p>
              </div>
            </li>
            <li class="vevent">
              <div class="img">
                <img src="/images/event-rubydccamp.png" alt="Ruby DC Camp" width="40" height="65">
              </div>
              <div>
                <h3><a href="/">Ruby DCamp 2012</a></h3>
                <p class="location"><a href="/">Prince William National Forest Park</a></p>
                <p class="details">September 28-30 - Triangle, VA</p>
              </div>
            </li>
            <li class="vevent">
              <div class="img">
                <img src="/images/event-aloharuby.png" alt="Aloha Ruby" width="101" height="35">
              </div>
              <div>
                <h3><a href="/">Aloha Ruby 2012</a></h3>
                <p class="location">Aloha Ruby 2012</p>
                <p class="details">October 6-9 - Honolulu, HI</p>
              </div>
            </li>
            <li class="vevent">
              <div class="img">
                <img src="/images/event-jumpstart.png" alt="Jumpstart Event" width="66" height="73">
              </div>
              <div>
                <h3><a href="/">Introduction to Ruby & Rails</a></h3>
                <p class="location">LARubyConf 2012</p>
                <p class="details">February 2 - Burbank, CA</p>
                <p class="tickets"><span><a href="/">Buy tickets &rsaquo;</a></span></p>
              </div>
            </li>
          </ul>
        </div>

        <div class="customers">
          <p class="nav-left ss-icon"><a href="/">Navigateleft</a></p>
          <ul>
            <li><img src="/images/customer-livingsocial.png" alt="Living Social" width="125" height="46"></li>
            <li><img src="/images/customer-nasa.png" alt="NASA" width="67" height="57"></li>
            <li><img src="/images/customer-boeing.png" alt="Boeing" width="167" height="37"></li>
            <li><img src="/images/customer-sony.png" alt="Sony Computer Entertainment" width="55" height="76"></li>
            <li><img src="/images/customer-accenture.png" alt="Accenture" width="123" height="35"></li>
          </ul>
          <p class="nav-right ss-icon"><a href="/">Navigateright</a></p>
        </div>
      </div>

      <%= erb :footer %>
  </body>
</html>