<div class="aside">
  <img src="/images/banner-sidebar.png" alt="banner_sidebar" width="220" height="220">
  <h2>Upcoming Events</h2>
  <ul class="events-list">
    <li class="vevent">
      <h3><a href="/">Denver Rubyconf 2012</a></h3>
      <p class="location"><a href="/">Grand Hyatt Denver</a></p>
      <p class="details">November 1-3 - Denver, CO</p>
    </li>
    <li class="vevent">
      <h3><a href="/">RubyConf Argentina 2012</a></h3>
      <p class="location"><a href="/">Paseo La Plaza</a></p>
      <p class="details">October 19-20 - Buenos Aires, Argentina</p>
    </li>
    <li class="vevent">
      <h3><a href="/">Ruby DCamp 2012</a></h3>
      <p class="location"><a href="/">Prince William National Forest Park</a></p>
      <p class="details">September 28-30 - Triangle, VA</p>
    </li>
    <li class="vevent">
      <h3><a href="/">Aloha Ruby 2012</a></h3>
      <p class="location">Aloha Ruby 2012</p>
      <p class="details">October 6-9 - Honolulu, HI</p>
    </li>
    <li class="vevent">
      <h3><a href="/">Introduction to Ruby & Rails</a></h3>
      <p class="location">LARubyConf 2012</p>
      <p class="details">February 2 - Burbank, CA</p>
      <p class="tickets"><span><a href="/">Buy tickets &rsaquo;</a></span></p>
    </li>
  </ul>
</div>