<div id="bottom">
    <div class="wrapper">
      <div class="contact">
        <h2>Contact Us</h2>
        <dl class="contact-info">
          <dt>Email:</dt>
          <dd><a href="mailto:contact@jumpstartlab.com">contact@jumpstartlab.com</a></dd>
          <dt>Phone:</dt>
          <dd>(202) 495–0599</dd>
          <dt>Fax:</dt>
          <dd>(202) 280–1257</dd>
          <dt>Mail:</dt>
          <dd>3634 Georgia Ave NW Washington,<br /> DC 20010 U.S.A. (<a href="/">Map</a>)</dd>
        </dl>
      </div>
      <img class="logo-mark" src="/images/logo-mark.png" />
      <div class="connect">
        <h2>Stay Connected</h2>
        <p>Get the scoop on upcoming classes.</p>
        <form>
          <input type="text" placeholder="Your email address" />
          <input type="submit" value="Subscribe" />
        </form>
        <ul>
          <li class="twitter"><a href="#" class="ss-icon ss-social">Twitter</a></li>
          <li class="github"><a href="#" class="ss-icon ss-social">GitHubOctocat</a></li>
          <li class="rss"><a href="#" class="ss-icon ss-social">RSS</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="wrapper">
    <ul class="footer-nav">
      <li><a href="#">News</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Tutorials</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <p>Content © Casimir Creative, LLC except where licensed otherwise.</p>
  </div>
</div>