    <link rel="stylesheet" href="/stylesheets/other_styles.css"/>
    <div class="wrapper">
      <div id="header">
        <div id="logo">
          <a href="/"><img alt="Jumpstart Lab" src="/images/logo-bw.png"></a>
		    </div>
        <ul id="nav">
          <li><a href="news">News</a></li>
          <li class="active"><a href="courses">Courses</a></li>
          <li><a href="#">Tutorials</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="main">

      <div class="wrapper">
        <div class="heroku-banner">
          <h1>Professional Heroku</h1>
          <p>A five-day course practicing techniques and tools for scalable, fault-tolerant deployment.</p>
        </div>

        <div class="preamble">
          <p>Heroku is a fantastic tool for provisioning and deploying applications quickly. But there’s more to it than <code>heroku create myapp</code>. Do you know how to design, monitor, and scale those applications?</p>
          <p>In this course we’ll build your understandings of the platform architecture, explore tools and concepts to improve your application, and how to bring it all together.</p>
        </div>

        <div class="section">
          <h2>What You’ll Learn</h2>
          <p>In this training course, you'll use an actual Ruby/Rails application and study:</p>
          <ul class="bulleted-list single">
            <li>The Platform: How does Heroku work? How does that architecture affect your process?</li>
            <li>Customizing Deployment: Tweak your tools, stack, and create a repeatable, reliable deployment process</li>
            <li>Designing for Scale: More than turning up the dynos, how do you architect your application to take advantage of the platform?</li>
            <li>When Things Go Wrong: Disaster will happen, here's how you prepare for it.</li>
            <li>Lessons In Context: Explore your problem domain, your application, and find how to apply these concepts</li>
          </ul>

          <p class="btn big center">
            <a href="#">
              <strong>Schedule a Session</strong><br />
              Email us for a pricing quote and dates
            </a>
          </p>

          <h2>What’s In a Class?</h2>
          <img class="float-right" src="/images/laptop-heroku.png" />
          <p>This is not “sit back and watch slides” — all Jumpstart Lab courses are hands-on. We work with real applications and you’ll implement these tools and techniques yourself. By the end of the week, you’ll have real experience, real skills, and real code to reference.</p>
          <br />


          <h2>Who’s this for?</h2>
          <p>This course is built for teams of experienced developers who feel comfortable with Ruby, Rails, and the fundamentals of deploying web applications.</p>
        </div>

        <div class="aside">
          <h2 class="no-border">Who we are</h2>
          <p>The course is constructed and taught by our instructional team in collaboration with the developers and experts at Heroku. <a href="/team">Learn more about Jeff Casimir, Frank Webber, Katrina Owen, and Steve Klabnik</a>.
          <ul class="thumb-nav">
            <li><a href="/team/#jeff"><img src="/images/jeff.jpg" alt="Jeff Casimir"></a></li>
            <li><a href="/team/#franklin"><img src="/images/franklin.jpg" alt="Franklin Webber"></a></li>
            <li><a href="/team/#katrina"><img src="/images/katrina.jpg" alt="Katrina Owen"></a></li>
            <li><a href="#steve"><img src="/images/steve.jpg" alt="Steve Klabnik"></a></li>
          </ul>

          <div class="money-back">
            <img class="center" src="/images/illustration-stamp.png" alt="illustration-stamp" width="147" height="117">
            <p>As with all our courses, Professional Heroku is backed by our 110% money-back guarantee.</p>
          </div>

          <h2>More than Heroku</h2>
          <p>Jumpstart Lab offers training in fundamental, intermediate, and advanced levels of Ruby, Rails, JavaScript, jQuery, Backbone.js, ExtJS, HTML5/CSS3, and Git.</p>
          <img src="/images/logos-technologies-grayscale.png" alt="Logos" width="215" height="109">
        </div>

        <br class="clearall" />

          <h2>Schedule</h2>
          <p>Our instructors come to you and teach five full days 9AM to 4PM. We can accomodate anywhere from 4 to 24 attendees.</p>

          <table class="schedule">
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
            </tr>
            <tr>
              <td>
                <h3>Understanding the Platform</h3>
                <ul class="bulleted-list">
                  <li>Setup for experimentation</li>
                  <li>Understanding Heroku’s architecture</li>
                  <li>How deployment works</li>
                  <li>Automatically scaling dynos</li>
                  <li>Understanding where applications go wrong</li>
                </ul>
              </td>
              <td>
                <h3>Customizing Your Deployment</h3>
                <ul class="bulleted-list">
                  <li>Managing application configuration and credentials</li>
                  <li>Configuration-level customizations</li>
                  <li>Creating custom buildpacks</li>
                  <li>Executing arbitrary jobs on deploy</li>
                  <li>Continuous Integration &amp; Continuous Deployment</li>
                </ul>
              </td>
              <td>
                <h3>Designing Your Application for Scale</h3>
                <ul class="bulleted-list">
                  <li>Architecting a system of applications</li>
                  <li>Aggregating logs across multiple coordinating apps</li>
                  <li>Extracting background jobs</li>
                  <li>Extracting micro-applications</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Thursday</th>
              <th>Friday</th>
              <th></th>
            </tr>
            <tr>
              <td>
                <h3>When Things Go Wrong</h3>
                <ul class="bulleted-list">
                  <li>Automating backups to S3</li>
                  <li>Monitoring application health</li>
                  <li>Automating disaster response</li>
                  <li>Rolling back deployment</li>
                </ul>
              </td>
              <td>
                <h3>Your Applications</h3>
                <ul class="bulleted-list">
                  <li>Big picture Q&amp;A</li>
                  <li>Dive into your applications together</li>
                  <li>What if we want to&hellip;?</li>
                </ul>
              </td>
              <td></td>
            </tr>
          </table>

          <h2>Pricing</h2>
          <p>Pricing for this course is <strong>$20K</strong> to cover the first six attendees, <strong>$1300</strong> for each additional attendee over six, and <strong>$1500</strong> per instructor for travel. Classes of 12 or fewer are run by one instructor, 12-24 have two instructors.</p><br />

          <h2>Public Class</h2>
          <p>We’re measuring interest in offering this as a public, one-person-buys-one-ticket public class. If you’re interested, please <a href="mailto:contact@jumpstartlab.com">send us an email</a> and tell us where you’re located.</p>

          <p class="btn big center">
            <a href="#">
              <strong>Schedule a Session</strong><br />
              Email us for a pricing quote and dates
            </a>
          </p>

      </div>

      <%= partial :footer %>