<div class="wrapper">
  <div id="header">
    <div id="logo">
      <a href="/"><img alt="Jumpstart Lab" src="/images/logo-bw.png"></a>
    </div>
    <ul id="nav">
      <li class="active"><a href="news">News</a></li>
      <li><a href="courses">Courses</a></li>
      <li><a href="http://tutorials.jumpstartlab.com">Tutorials</a></li>
      <li><a href="team">Team</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </div>
</div>

<div id="main">

  <div class="wrapper">
    <h1>News</h1>

    <div class="section">
      <ul class="pill-selector">
        <li class="active"><a href="#">All</a></li>
        <li><a href="#">Writings</a></li>
        <li><a href="#">Conference Talks</a></li>
      </ul>

      <ul class="posts">
        <li>
          <h2><a href="post">Technically Awesome</a></h2>
          <p class="post-date ss-calendar">Posted August 30, 2012</p>
          <img src="/images/magic.png" alt="magic" width="398" height="335">
          <p>Jeff Casimir gives a talk on Internationalization & Localization.</p>
          <p><a href="post">Read more&nbsp;»</a></p>
        </li>
        <li>
          <h2><a href="post">Madison Ruby 2012 Panel: Teaching Rails</a></h2>
          <p class="post-date ss-calendar">Posted August 25, 2012</p>
          <img src="/images/rails-panel.jpg" alt="rails-panel" width="395" height="286">
          <p>Madison Ruby 2012 Panel Discussion including Chad Pytel, Jeff Casimir, Jeff Cohen, and Stephen Anderson.</p>
          <p><a href="post">Read more&nbsp;»</a></p>
        </li>
        <li>
          <h2><a href="post">WAMU's Kojo Nnamdi "Tech Tuesday"</a></h2>
          <p class="post-date ss-calendar">Posted January 16, 2012</p>
          <p>Tuesday 1/17 at noon I’ll join friends Roz Lemioux from Fission Strategy and Ryan Seashore from CodeNow to talk about “learning to program” on WAMU’s Kojo Nnamdi show. You can listen live at <a href="#">http://thekojonnamdishow.org/shows/2012-01-17/training-where-tech-jobs-are-coding</a></p>
          <p><a href="post">Read more&nbsp;»</a></p>
        </li>
        <li>
          <h2><a href="post">The World is Full of Real People</a></h2>
          <p class="post-date ss-calendar">Posted January 13, 2012</p>
          <p>Yesterday at CodeMash 2012 in Sandusky, Ohio, I gave a five minute lightning talk about something that’s been in my mind: the developer’s life of priviledge. Here’s the text of my talk…</p>
          <p><a href="post">Read more&nbsp;»</a></p>
        </li>
      </ul>
      <p class="subscribe ss-rss"><a href="#">Subscribe to RSS</a></p>
    </div>

    <%= partial :aside %>
  </div>

  <%= partial :footer %>
