<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  	<title>JumpstartLab – We Build Developers</title>
  	<meta name="description" content="">
  	<meta name="author" content="">
  	<link rel="stylesheet" href="/css/styles.css">
  	<link href="webfonts/ss-social.css" rel="stylesheet" />
  	<link href="webfonts/ss-standard.css" rel="stylesheet" />
  	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/tpn0qjo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div class="wrapper">
      <div id="header">
        <div id="logo">
          <a href="/"><img alt="Jumpstart Lab" src="/images/logo-bw.png"></a>
		    </div>
        <ul id="nav">
          <li class="active"><a href="news">News</a></li>
          <li><a href="courses">Courses</a></li>
          <li><a href="tutorials">Tutorials</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="main">

      <div class="wrapper">
        <div class="section post">
          <h1>The World is Full of Real People</h1>
          <p class="post-date">Posted January 13, 2012 by Jeff</p>
          <p>Yesterday at <a href="http://codemash.org">CodeMash 2012</a> in Sandusky, Ohio, I gave a five minute lightning talk about something that’s been in my mind: the developer’s life of priviledge. Here’s the text of my talk:</p>
          <h3>The World is Full of Real People</h3>
          <p>You are in a spot of exceptional privilege. You’re well paid to move your fingers around a keyboard. Your greatest danger is probably carpal-tunnel syndrome.</p>
          <p>In a time when almost thirty percent of our country is unemployed or underemployed, you make jokes about how annoying recruiters are wanting to offer you job after job. There’s nothing here that’s your fault. You didn’t do anything wrong. This isn’t about blame and I’m not saying you should be ashamed of anything.</p>
          <p>But you do need to recognize you lead a life of privilege.</p>
          <p>We need to do more.</p>
          <p>It is easy to write software for other developers. You understand what it’s like to be a developer, so you know  exactly how they think and operate. If you want to make quick money, build tools that make developers lives easier.</p>
          <p>We can all then form a big circle and pat each other on the back.</p>
          <p>Meanwhile, your new testing framework didn’t make any jobs. It didn’t bring significant joy to anyone’s life. In the big scheme of things, you’ve taken your gifts and used them to pleasure yourself.</p>
          <p>Let’s take a step back.</p>
          <p>Real people don’t use technology, at least not the technology you build. Unless you work at Facebook, the chance of anyone at this hotel having ever heard of your company, much less your product, is slim. Why is that? Why do we build so many things for ourselves?</p>
          <p>Because it’s easy. </p>
          <p>Solving real problems is hard. Changing real lives is hard. Making real people happy is hard. When we do write things for the public, we find out that those users are “such idiots” – they can never do things properly. “It’s not worth it!”</p>
          <p>You wield the power to make amazing change in the world. You can fix problems with a speed and scale that no other industry can match. Your work, once created, can be replicated at almost zero cost. Your power breaks economics, terrifies governments, and endangers the status quo.</p>
          <p>Instead of measuring ourselves by the size of our Series A or our average profit per employee, let’s measure in lives changed. </p>
          <p>I want to look back and say “I worked harder than I had to. I gave up time with my kids, with my friends, to do what needed to be done. To give back to the rest of the world, to enable them to live just a little bit happier, a little bit better.”</p>
          <p>The problems of our world can’t be fixed with software, that’s naive. But they can be fixed by people, and great software helps people do what needs to be done. </p>
          <p>As a developer you can only do so much. You don’t understand all the problems, the nuances, the challenges of the world. That’s ok. The people who do understand those challenges are desperate for your help – they’ll tell you everything you need to know. Just ask.</p>
          <p>I’m not saying you need to change a thousand lives. But if you could say that you really changed ten, what would that feel like? </p>
          <p>You might not ever have a Wikipedia page, but you’d live on in those ten memories – in the lineage of families they start, the kids that grow up happier because their parent is employed, less stressed, or otherwise improved. When you think about generations upon generations, the compound interest on the investment you make in others pays off in the biggest way.</p>
          <p>Your software will be forgotten, but true impact never will.</p>
          <p>What’s your mark on the earth? Is it big enough, is it deep enough, is it good enough?</p>
          <p>Get to work. Thank you.</p>
          <div class="post-footer">
            <img src="/images/jeff.jpg" alt="Jeff Casimir">
            <p>Posted by Jeff Casimir on January 13, 2012</p>
            <p class="ss-twitter ss-social"><a href="#">@j3</a></p>
          </div>
          <div class="post-nav">
            <a href="#" class="prev">&lsaquo; Previous</a>
            <a href="#" class="next">Next &rsaquo;</a>
          </div>
        </div>

        <%= partial :aside %>
      </div>

      <%= partial :footer %>
  </body>
</html>